 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(198, 149, 244);
}
h1{
    text-align: center;
}
.maincontainer{
    border:1px solid black;
    margin:80px 360px;
    width:500px;
    background-color: bisque;
}
#form{
    display: grid;
}
#name,#content,#content1,#name1{
    width:60%;
    height: 30px;
}
#submit{
    width:20%;
    margin-left: 30%;
}

#name,#content{
    margin-left: 10%;
}
.popupbg{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(201, 201, 201, 0.483);
    z-index: 999;
}
.popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    font-size: 25px;
    padding: 20px;
    transform: translate(-50%, -50%);
    z-index: 1000;

}
#closeIcon{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
#divv{
    justify-content: space-around;
}
@media screen and (min-width:600px) and (max-width:1200px)
{
    .maincontainer
    {
        border: 2px solid red;
        margin:auto; 
}
}

@media screen and (min-width:49px) and (max-width:600px)
 {
    .maincontainer{
        margin:auto;
        border:2px solid black;
        width:300px;
    }
    body{
        background-color: rgb(3, 3, 252);
    }
}
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    border:2px solid black;
    border-top-right-radius: 20px ;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    margin: auto;
    
} */
 .span1{
    background-color: white;
    color: black;
}
.span2{
    background-color:black;
    color:white;
}
.hi{
    background-color:black;
    color:white;
}
.hi2{
    background-color:white;
    color:black;
} */




